#include <windows.h>
#include "source/resource.h"
#pragma code_page(1252)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ID_TEST_SHADER RCDATA "source/assets/test_shader.hlsl"
ID_TEST_TEXTURE RCDATA "source/assets/test_texture.png"
ID_TEST_FONT RCDATA "source/assets/test_font.ttf"
ID_DRAW_TEST_RESULT RCDATA "source/assets/draw_device_test.png"
