#include <windows.h>
#include "source/resource.h"
#pragma code_page(1252)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ID_TEST_EFFECT RCDATA "source/assets/test_effect.wav"
ID_TEST_MUSIC RCDATA "source/assets/test_music.mp3"
ID_TEST_SHADER RCDATA "source/assets/test_shader.hlsl"
